<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>정한울의 ftp서버</title>

    <script src="/js/manage_list.js"></script>

    <script>
        window.onload = function() {
            const base_dir_id = 1;
            let cur_dir_id;

            get_file_list(base_dir_id);

            document.getElementById('upload_button').addEventListener('change', load_files);
            document.getElementById('submit_button').addEventListener('click', upload_files);
        }
    </script>

</head>
<body>
    <div>
        <h1 id="hi">정한울의 ftp 서버입니다</h1>
        <h2 id="cur_dir">현재 경로: </h2>
        <input id="upload_button" type="file" value="업로드할 파일을 선택하십시오" multiple>
        <input id="submit_button" type="submit" value="업로드" disabled=true>
        <div id="file_list">
        </div>
    </div>
</body>
</html>