<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>하누이의 ftp서버</title>

    <script src="/js/manage_list.js"></script>

    <script>
        window.onload = function() {
            const base_dir = "http://192.168.0.9:36137/ftp/get_list?dirId=1";

            get_file_list(base_dir);
        }
    </script>

</head>
<body>
    <div>
        <h1 id="hi">하누이의 ftp 서버입니당</h1>
        <h2 id="cur_dir">현재 경로: </h2>
        <div id="file_list">
        </div>
    </div>
</body>
</html>